:root {
  --black: #161616;
  --white: #ffffff;
  --gray: #b9b9b9;
  --red: #dd0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* greatest-show-start */
.greatest-show-wrap {
  padding: 60px;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.greatest-show {
  display: flex;
  height: 90vh;
  background: var(--black);
  color: var(--white);
  border-radius: 40px;
  padding: 30px 50px 0px 50px;
}

.greatest-show-title {
  width: 50%;
  margin: auto;
  padding: 50px;
}

.greatest-show-image {
  width: 50%;
}
.greatest-show-image img {
  width: 100%;
  height: 100%;
}
.greatest-show-title h1 {
  font-size: 80px;
}
.greatest-show-title p {
  font-size: 18px;
  margin-bottom: 25px;
}
.greatest-show-title button {
  font-size: 20px;
  background: var(--red);
  color: var(--white);
  padding: 15px 25px;
  border-radius: 6px;
}

/* greatest-show-end */
