:root {
  --black: #161616;
  --white: #ffffff;
  --gray: #979797;
  --red: #dd0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* greatest-show-start */
.greatest-show-wrap {
  padding: 50px 0px;
}

.container {
  width: 80%;
  height: 100%;
  margin: 30px auto;
}

.greatest-show {
  display: flex;
  background: var(--black);
  color: var(--white);
  border-radius: 40px;
  padding: 30px 50px 0px 50px;
}

.greatest-show-title {
  width: 50%;
  margin: auto;
  padding: 50px;
}

.greatest-show-image {
  width: 50%;
}

.greatest-show-image img {
  width: 100%;
  height: 100%;
}

.greatest-show-title h1 {
  font-size: 72px;
}

.greatest-show-title p {
  font-size: 18px;
  margin-bottom: 25px;
}

.greatest-show-title button {
  font-size: 20px;
  background: var(--red);
  color: var(--white);
  padding: 15px 25px;
  border-radius: 6px;
  transition: 0.4s;
  animation: mymove 2s infinite;
  animation-timing-function: ease-in-out;
}

/* add animation */
@keyframes mymove {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

button,
input {
  cursor: pointer;
  font-weight: bold;
}

/* greatest-show-end */

/* blog pages start */

.blog-pages-main {
  display: flex;
  justify-content: space-between;
}

.blog-button-link {
  width: 265px;
  height: 280px;
  background: var(--black);
  border-radius: 12px;
  list-style: none;
  text-align: center;
  padding: 10px;
}

.blog-button-link li {
  padding: 15px 0px;
}

.blog-button-link li button {
  width: 90%;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
}

button.blog-btn {
  background: var(--red);
  color: var(--white);
}

.blog-post-link {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5% 3%;
  margin-bottom: 80px;
}

.bloge-post-image img {
  width: 100%;
}

.blog-post-single-card {
  border: 1px solid #eaeaea;
  border-radius: 12px;
}

.blog-post-details {
  padding: 30px;
}

.blog-post-details input {
  padding: 5px 20px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid;
}

.blog-post-details h3 {
  margin: 15px 0px;
}

.blog-post-details i,
span {
  margin-right: 10px;
  color: var(--gray);
}

span.font-align {
  margin-right: 50px;
}

.view-all-button {
  text-align: center;
  display: none;
}

.view-all-button button {
  padding: 15px 30px;
  color: var(--white);
  background: var(--red);
  border: none;
  border-radius: 5px;
}

/* blog pages end */

/* footer start */
.footer-wraper {
  background: var(--black);
  margin-bottom: -30px;
}

.footer-title h1 {
  text-align: center;
  color: var(--white);
  font-size: 80px;
  padding: 30px;
}

.footer-title hr {
  color: var(--gray);
  border: 1px solid;
}

.footer-title ul {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
}

.footer-title ul li {
  list-style: none;
  color: var(--gray);
  font-size: 20px;
}

.social ul li a i {
  font-size: 40px;
  color: var(--gray);
}

/* footer end */

/* media queries tablet start */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 80%;
    margin: 30px auto;
  }

  .greatest-show-wrap {
    padding: 0px;
  }

  .greatest-show {
    display: flex;
    border-radius: 40px;
    padding: 30px 10px 0px 10px;
  }

  .greatest-show-title h1 {
    font-size: 30px;
  }

  .greatest-show-title p {
    font-size: 16px;
    margin-bottom: 25px;
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .greatest-show-title button {
    padding: 10px 10px;
  }

  .blog-pages-main {
    flex-direction: column;
  }

  .blog-button-link {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background: none;
    padding: 0;
  }

  .blog-button-link li button {
    width: 190px;
    padding: 15px 10px;
    border-radius: 8px;
    font-size: 20px;
  }

  .blog-post-link {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1% 3%;
    margin-bottom: 50px;
  }

  .blog-post-single-card {
    margin: auto;
  }

  .view-all-button {
    display: block;
  }

  .footer-title ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-title ul li {
    font-size: 16px;
    line-height: 40px;
    margin: auto;
  }
}
/* media queries tablet end */

/* media queries mobile start */

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .greatest-show-wrap {
    padding: 0;
  }
  .greatest-show {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 0px 30px;
    border-radius: 10px;
  }
  .greatest-show-title h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .greatest-show-title {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .greatest-show-title p {
    font-size: 12px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .greatest-show-title button {
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .greatest-show-image {
    width: 100%;
    margin-bottom: -7px;
  }
  .blog-pages-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-button-link {
    background: none;
  }
  .blog-post-link {
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1%;
    margin-bottom: 120px;
  }
  .footer-title h1 {
    font-size: 25px;
  }
  .footer-title ul {
    flex-direction: column;
    text-align: center;
  }
  .footer-title ul li {
    font-size: 16px;
    line-height: 50px;
    margin: auto;
  }
  .social ul {
    flex-direction: row;
  }
}
/* media queries mobile end */
